<%- include("partials/header.ejs") %>
<div class="bg-body-tertiary d-flex ">
    <div class="container">
      <main>
        <h1><%= post.entryTitle %></h1>
        <pre style="white-space: pre-wrap; word-wrap: break-word; overflow-wrap: break-word;"><%= post.entryBody %></pre>
        </main>
    </div>
<%- include("partials/footer.ejs") %>